@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-regular.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/open-sans-semibold.woff2") format('woff2');
    font-style: normal;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Block: top-section */

.top-section {
    background-image: url("../images/castelmezzano.svg");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    color: #FFFFFF;
}


header {
    max-width: 1232px;
    padding: 51px 16px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
}

.header-night {
    width: 30px;
    height: 30px;
    margin-right: 24px;
}

.header-account-circle {
    width: 40px;
    height: 40px;
}

.logo__col {
    width: 72%;
}

.header__logo {
    width: 205px;
    height: 40px;
}

.link__col--first {
    width: 7%;
}

.link__col--second {
    width: 13%;
}

.header__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
}

.header-night {
    width: 30px;
    height: 40px;
}

.header-account-circle {
    width: 40px;
    height: 40px;
}

.icon__col-burger {
    display: none;
}

.section__box {
    width: 1232px;
    padding: 196px 16px 120px;
    margin: 0 auto;
}

.top-section__slogan {
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 100px;
}

.container--form {
    max-width: 1232px;
    height: 64px;
    background: #FFFFFF;
    border: 3px solid #f3f3f4;
    border-radius: 8px;
    margin-bottom: 120px;
    margin-top: 24px;
}

.row--form {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.input--place--wrap {
    width: 36%;
}

input {
    font-weight: 400;
    height: 57px;
    border: none;
    border-radius: 8px;
    padding-left: 24px;
    font-size: 18px;
}

.col--place {
    width: 100%;
}

.input--date--wrap {
    width: 22%;
    border: 3px solid #F5BD41;
    border-radius: 8px;
    margin-top: -3px;
    margin-bottom: 3px;
}

.col--date {
    width: 100%;
}

.col--guests {
    width: 27%;
}

button {
    cursor: pointer;
}

.col--button-search {
    width: 16.6%;
    height: 64px;
    background: #3077C6;
    border-radius: 8px;
    border: none;
    margin-block-start: -3px;
    margin-inline-end: -3px;
}

.button__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

label {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 24px;
    margin-left: 24px;
}

.label--date--first {
    margin-left: 197px;
}

.head-store-badges {
    display: flex;
    justify-content: center;
}

/* Block: what-do-we-offer */

.what-do-we-offer {
    background-color: #FFFFFF;
    color: #383838;
}

.container--what-do-we-offer {
    padding: 120px 0 114px 0;
    max-width: 1232px;
    margin: 0 auto;
}

.heading--what-do-we-offer {
    margin-bottom: 104px;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: relative;
}

.what-do-we-offer_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.what-do-we-offer__col {
    width: 25%;
    text-align: center;
}

.what-do-we-offer__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
}

.img--support {
    width: 75px;
    height: 92px;
    margin-bottom: 52px;
}

.img--communicate {
    width: 83px;
    height: 83px;
    margin-bottom: 56px;
}

.img--book {
    width: 100px;
    height: 67px;
    margin-bottom: 74px;
}

.img--reviews {
    width: 92px;
    height: 83px;
    margin-bottom: 55px;
}

/* Block: homes-guests-loves */

.homes-guests-loves {
    background-color: #EAF0F9;
    color: #383838;
}

.container--homes-guests-loves {
    padding: 120px 0;
    max-width: 1232px;
    margin: 0 auto;
}

.heading--homes-guests-loves {
    margin-bottom: 105px;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: relative;
}

.homes-guests-loves_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homes-guest-loves__text {
    font-size: 24px;
    color: #3077C6;
    font-weight: 400;
    margin: 24px 0;
}

.homes-guest-loves__place {
    font-size: 24px;
    color: #BFBFBF;
    font-weight: 400;
}

.homes-guests-loves__slider {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 33%;
    left: 93%;
}

.container--img-hostel-friendship{
    position: relative;
}

/* Block: destinations */

.destinations {
    background-color: #FFFFFF;
    color: #383838;
}

.container--destinations {
    padding: 120px 0;
    max-width: 1232px;
    margin: 0 auto;
}

.heading--destinations {
    margin-bottom: 104px;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: relative;
}

.row__tabs {
    display: flex;
    justify-content: flex-start;
    max-width: 622px;
    background: #F3F3F4;
    margin-bottom: 66px;
    border-radius: 8px;
}

.button--regions {
    width: 30%;
}

.button--cites {
    width: 30%
}

.button--places {
    width: 40%;
}

.col--button-regions {
    color: #FFFFFF;
    background: #3077C6;
}

.button__destinations {
    border: none;
    width: 100%;
    height: 64px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 8px;
}

.destinations_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.destinations__col {
    position: relative;
}

.destinations__text {
    font-size: 24px;
    color: #3077C6;
    font-weight: 400;
    margin-top: 24px;
}

.destinations__img-wrap {
    width: 296px;
    height: 296px;
}

.col--button-book-now {
    width: 128px;
    height: 48px;
    color: #3077C6;
    border-color: #3077C6;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    display: none;
    top: 36%;
    left: 28%;
}

.destinations__slider_media {
    display: none;
}

.destinations__slider {
    display: block;
    margin: 0 auto;
}

/* Block: sign-up */

.sign-up__logo {
    display: none;
}

.sign-up--slogan_media {
    display: none;
}

.sign-up__link {
    display: none;
}

.sign-up {
    color: #383838;
}

.container--sign-up {
    max-width: 1232px;
    padding: 24px 24px 52px 24px;
    margin: 0 auto;
    background-color: #EAF0F9;
}

.sign-up__img-close {
    float: right;
}

.sign-up--slogan {
    font-size: 24px;
    font-weight: 500;
    padding-top: 27px;
    padding-left: 110px;
    margin-bottom: 21px;
}

.button-sign-up {
    margin-left: 24px;
    width: 128px;
    height: 48px;
    border-color: #3077C6;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    color: #3077C6;
}

.sign-up__img-user {
    padding-top: 57px;
    float: left;
}

/* Block: guest-reviews*/

.guest-reviews {
    background-color: #FFFFFF;
    color: #383838;
}

.container--guest-reviews {
    padding: 120px 0;
    max-width: 1232px;
    margin: 0 auto;
}

.heading--guest-reviews {
    margin-bottom: 104px;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: relative;
}

.guest-reviews_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.guest-reviews__col {
    background: #EAF0F9;
    position: relative;
}

.guest-reviews__img {
    width: 406px;
}

.guest-reviews__container-price {
    background: #000;
    height: 48px;
    opacity: 0.4;
    position: absolute;
    top: 47%;
    width: 100%;
    color: #FFFFFF;
}

.price {
    padding-left: 24px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
}

.guest-reviews__text {
    margin: 24px;
}

.guest-reviews__text--container {
    display: flex;
    justify-content: space-between;
}

.guest-reviews__place-premises {
    font-weight: 500;
    font-size: 18px;
    color: #3077C6;
    margin: 0;
}

.guest-reviews__place-country {
    font-weight: 400;
    font-size: 18px;
    margin: 16px 0 0 0;
    color: #3077C6;
}

.guest-reviews__score-reviews {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background: #10367C;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 0 35px;
}

.guest-reviews__count-reviews {
    font-weight: 400;
    font-size: 14px;
    color: #BFBFBF;
    margin-top: 8px;
}

.guest-reviews__person {
    display: flex;
    margin-top: 24px;
}

.guest-reviews__person-container {
    margin-left: 21px;
}

.guest-reviews__person-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 7px 0;
}

.guest-reviews__person-country {
    font-weight: 400;
    font-size: 18px;
    color: #BFBFBF;
}

.guest-reviews__description {
    margin-top: 17px;
    font-size: 18px;
    font-weight: 400;
}

.container--img-rokoko {
    position: relative;
}

.guest-reviews__slider {
    position: absolute;
    top: 25%;
    left: 94%;
}

.guest-reviews__nav {
    display: none;
}

/* Block: footer */

.footer--logo {
    display: none;
}

footer {
    background-color: #10367C;
    color: #FFFFFF;
}

.container--footer {
    padding: 119px 272px 120px 0;
    max-width: 1232px;
    margin: 0 auto;
}

.footer_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

ul {
    line-height: 2.5;
    list-style: none;
}

ul :first-child{
    font-weight: 500;
}


li {
    font-weight: 400;
    font-size: 20px;
}

footer span {
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 1232px) {

    /* Block: top-section */

    .top-section {
        background-position: 80% 100%;
        background-size: cover;
        width: auto;
        color: #FFFFFF;
    }

    header {
        padding: 52px 30px 0;
    }

    .header__logo {
        width: 205px;
        height: 40px;
    }

    .link__col--first, .link__col--second {
        display: none;
    }

    .icon__col--first {
        width: 0;
    }

    .icon__col--second {
        width: 3%;
    }

    .icon__col-burger {
        width: 24px;
        height: 28px;
        display: block;
        position: relative;
        margin-left: 7px;
    }

    .burger {
        width: 40px;
        height: 30px;
        position: absolute;
        top: -3px;
        right: 0;
    }

    .section__box {
        padding: 52px 30px 120px;
        width: 100%;
    }

    .top-section__slogan {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 31px;
    }

    .container--form {
        height: 232px;
        background: #f5bd41;
        border: 0;
        border-radius: 0;
        margin-bottom: 60px;
        padding: 8px;
    }

    .row--form {
        display: block;
        margin-block-start: 0;
    }

    .input--place--wrap {
        width: 100%;
    }

    .input--place--wrap::before {
        content: "";
        position: absolute;
        top: 16px;
        left: 15px;
        width: 16px;
        height: 16px;
        background: url("../images/search.svg");
    }

    input {
        height: 48px;
        border-radius: 4px;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        padding-top: 0;
        padding-left: 36px;
        color: #383838;
    }

    .col--place {
        width: 100%;
    }

    .input--date--wrap {
        width: 100%;
        border: none;
        height: 53px;
    }

    .col--date {
        width: 100%;
    }

    .col--guests {
        width: 100%;
    }

    button {
        cursor: pointer;
    }

    .col--button-search {
        height: 48px;
        width: 100%;
        border-radius: 4px;
        margin-block-start: 0;
    }

    .button__text {
        font-size: 19px;
    }

    label {
        display: none;
    }

    /* Block: homes-guests-loves */

    .container--homes-guests-loves {
        padding: 120px 30px;
    }

    .homes-guests-loves_row {
        justify-content: space-evenly;
    }

    .container--img-hotel-leopold {
        display: none;
    }

    /* Block: destinations */

    .destinations_row {
        justify-content: space-evenly;
    }

    .container--img-island {
        display: none;
    }

    .container--destinations {
        padding: 120px 30px;
    }

    /* Block: guest-reviews */

    .guest-reviews_row {
        justify-content: space-evenly;
    }

    .container--img-ubud {
        display: none;
    }

    .container--guest-reviews {
        padding: 120px 30px;
    }

    .container--footer {
        padding: 119px 272px 120px 92px;
    }
}

@media screen and (max-width: 950px) {

    /* Block: homes-guests-loves */

    .container--img-apartment-sunshine {
        display: none;
    }

    /* Block: destinations */

    .container--img-norway {
        display: none;
    }

    /* Block: guest-reviews */

    .container--img-king-kong {
        display: none;
    }

    .guest-reviews__container-price {
        height: 50px;
        top: 48%;
    }
}

@media screen and (max-width: 768px) {

    /* Block: top-section */

    .top-section {
        width: auto;
        background-position: 88% 100%;
        background-size: cover;
    }

    header {
        padding: 30px 30px 0;
    }

    .header__logo {
        width: 122px;
        height: 24px;
    }

    .icon__col--first {
        width: 3%;
    }

    .icon__col--second {
        width: 3%;
    }

    .header-night {
        width: 16px;
        height: 16px;
        margin: 0;
    }

    .header-account-circle {
        width: 24px;
        height: 24px;
    }

    .burger {
        width: 24px;
        height: 16px;
        top: 4px;
        right: 0;
    }

    .section__box {
        padding: 52px 30px 40px;
        width: 100%;
    }

    /* Block: what-do-we-offer */

    .what-do-we-offer__col {
        width: 50%;
        margin-bottom: 50px;
        text-align: center;
    }

    .what-do-we-offer__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }

    /* Block: destinations */

    .row__tabs {
        max-width: 1232px;
        justify-content: center;
        background: none;
    }

    .button--regions {
        width: 20%;
        margin-right: 16px;
    }

    .button--cites {
        width: 20%;
    }

    .button--places {
        width: 30%;
        margin-left: 16px;
    }

    /*Block: sign-up*/

    .sign-up__img-close {
        width: 16px;
        height: 16px;
        float: left;
    }

    .sign-up--slogan {
        display: none;
    }

    .sign-up--slogan_media {
        display: block;
        font-size: 19px;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .button-sign-up {
        display: none;
    }

    .sign-up__img-user {
        display: none;
    }

    .container--sign-up {
        padding: 24px 16px 24px 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sign-up__logo {
        display: block;
        padding-right: 16px;
        padding-left: 16px;
    }

    .sign-up__link {
        display: block;
        font-weight: 500;
        font-size: 24px;
        color: #3077C6;
        text-decoration: none;
    }

    /* Block: footer */

    .footer--logo {
        display: block;
        height: 30px;
        margin: auto;
    }

    ul :first-child {
        display: block;
        text-decoration: underline;
        font-size: 15px;
    }

    li {
        display: none;
    }

    .container--footer {
        padding: 40px 67px;
    }

    .footer_row {
        margin-top: 40px;
        justify-content: space-between;
        margin-bottom: 0;
    }

    footer span {
        font-size: 12px;
        padding-top: 32px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 455px){

    .guest-reviews__slider {
        display: none;
    }

    .guest-reviews__container-price {
        top: 44%;
        }
    .guest-reviews__img {
        width: 371px;
    }
    .container--img-rokoko {
        width: 371px;
    }
}

@media screen and (max-width: 376px) {

    /* Block: top-section */

    header {
        padding: 12px 16px 0;
    }

    .header__logo {
        width: 122px;
        height: 24px;
    }

    .logo__col {
        width: 58.33%;
    }

    .icon__col--first {
        width: 0;
    }

    .icon__col--second {
        width: 4%;
    }

    .icon__col-burger {
        margin-left: 0;
    }

    .section__box {
        padding: 52px 16px 40px;
        width: 100%;
    }

    /* Block: what-do-we-offer */

    .container--what-do-we-offer {
        padding: 24px 0 40px 0;
        max-width: 1232px;
        margin: 0 auto;
    }

    .heading--what-do-we-offer {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 32px;
    }

    .what-do-we-offer__col {
        width: 100%;
        text-align: center;
        margin-bottom: 32px;
    }

    .what-do-we-offer__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
    }

    .img--support {
        width: 53px;
        height: 64px;
        margin-bottom: 19px;
    }

    .img--communicate {
        width: 58px;
        height: 58px;
        margin-bottom: 22px;
    }

    .img--book {
        width: 70px;
        height: 47px;
        margin-bottom: 28px;
    }

    .img--reviews {
        width: 64px;
        height: 58px;
        margin-bottom: 25px;
    }

    /* Block: homes-guests-loves */

    .container--homes-guests-loves {
        padding: 40px 16px;
        max-width: 1232px;
        margin: 0 auto;
    }

    .heading--homes-guests-loves {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 32px;
    }

    .homes-guests-loves_row {
        justify-content: space-between;
    }

    .homes-guest-loves__text {
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .homes-guest-loves__place {
        font-size: 12px;
    }

    .homes-guests-loves__slider {
        width: 28px;
        height: 28px;
        top: 32%;
        left: 91%;
    }

    .homes-guests-loves__img-wrap {
        width: 155px;
        height: 156px;
    }

    /* Block: destinations */

    .container--destinations {
        padding: 40px 16px;
        max-width: 1232px;
        margin: 0 auto;
    }

    .heading--destinations {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 32px;
    }

    .row__tabs {
        margin: 32px 0 24px 0;
        display: flex;
        justify-content: space-between;
    }

    .button__destinations {
        font-size: 19px;
        font-weight: 400;
        border-radius: 4px;
    }

    .col--button-regions {
        width: 99px;
        height: 31px;
    }

    .col--button-cites {
        width: 99px;
        height: 31px;
    }

    .col--button-places {
        width: 99px;
        height: 31px;
        padding-top: 5px;
        overflow: hidden;
        text-overflow: clip;
    }

    .destinations_row {
        justify-content: space-between;
        margin-bottom: 0;
    }

    .destinations__text {
        margin-top: 8px;
        font-size: 12px;
    }

    .destinations__img-wrap {
        width: 156px;
        height: 156px;
    }

    .destinations__slider {
        display: none;
    }

    .destinations__slider_media {
        display: block;
        position: absolute;
        top: 35%;
        left: 91%;
        width: 28px;
        height: 28px;
    }

    /* Block: sign-up */

    .sign-up--slogan_media {
        display: block;
        font-size: 12px;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }

    .sign-up__link {
        display: block;
        font-weight: 500;
        font-size: 14px;
        color: #3077C6;
        text-decoration: none;
    }

    .sign-up {
        position: absolute;
        top: 2714px;
    }

    /* Block: guest-reviews */

    .guest-reviews {
        background: #EAF0F9;
    }

    .container--guest-reviews {
        padding: 40px 16px 146px 16px;
    }

    .heading--guest-reviews {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 32px;
    }

    .guest-reviews_row {
        justify-content: center;
    }

    .guest-reviews__img {
        width: 327px;
        height: 325px;
    }

    .guest-reviews__col {
        background: none;
        width: auto;
    }

    .guest-reviews__slider, .guest-reviews__container-price {
        display: none;
    }

    .guest-reviews__nav {
        display: flex;
        justify-content: center;
    }

    .guest-reviews__nav-img {
        padding-right: 8px;
    }

    .guest-reviews__text {
        margin: 12px 0 0 0;
    }

    .guest-reviews__place-premises {
        font-size: 15px;
    }

    .guest-reviews__place-country {
        font-size: 15px;
        margin: 8px 0 0 0;
    }

    .guest-reviews__score-reviews {
        font-size: 15px;
    }

    .guest-reviews__count-reviews {
        font-size: 12px;
        margin-top: 5px;
    }

    .guest-reviews__person {
        margin-top: 12px;
    }

    .guest-reviews__person-container {
        margin-left: 13px;
    }

    .guest-reviews__person-name {
        font-size: 15px;
        margin: 0 0 4px 0;
    }

    .guest-reviews__person-country {
        font-size: 15px;
    }

    .guest-reviews__description {
        margin-top: 17px;
        font-size: 15px;
        margin-bottom: 32px;
    }

    .guest-reviews__slider {
        display: none;
    }

    .guest-reviews__person img {
        width: 44px;
        height: 44px;
    }
}

@media all and (min-width: 900px) {
    .destinations__col:hover .col--button-book-now {
        display: block;
    }

    .container--img {
        background: #000;
        width: 100%;
        height: 83%;
    }

    .destinations__col .container--img img {
        opacity: 1;
    }

    .destinations__col:hover .container--img img {
        opacity: 0.6;
    }

    h2 {
        position: relative;
    }

    .header__link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #F5BD41;
        left: 0;
        top: 40px;
        transform: scale(0);
        transition: 0.5s;
        transform-origin: left;
    }

    .header__link:hover:before {
        transform: scale(1);
    }

    h2:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 4px;
        background: #F5BD41;
        top: 150%;
        transform: scale(0);
        transition: 0.5s;
        transform-origin: left;
    }

    h2:hover:before {
        transform: scale(1);

    }
}


@media all and (max-width: 345px) {
    .sign-up {
        display: none;
    }
    .container--guest-reviews {
        padding-bottom: 46px;
        width: 300px;
    }

    .guest-reviews__img {
        width: 300px;
    }

    ul :first-child {
        font-size: 13px;
    }

    .destinations__img-wrap {
        width: 140px;
    }

    .homes-guests-loves__img-wrap {
        width: 140px;
    }
}