@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-regular.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
}

.what-do-we-offer {
    height: 569px;
}

._center {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

hr {
    width: 100px;
    height: 4px;
    border: 0;
    background: #F5BD41;
}

.what-do-we-offer_col {
    width: 1233px;
    height: 184px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 103px 114px 104px;
}

.container-support {
    width: 296px;
    height: 176px;
    text-align: center;
}

.container-support img {
    width: 75px;
    height: 92px;
}

.container-support p {
    margin-top: 49px;
}

.container-communication {
    width: 296px;
    height: 178px;
    text-align: center;
}

.container-communication img {
    width: 83px;
    height: 83px;
}

.container-communication p {
    margin-top: 56px;
}

.container-booking {
    width: 296px;
    height: 184px;
    text-align: center;
}

.container-booking img {
    width: 100px;
    height: 67px;
}

.container-booking p {
    margin-top: 72px;
}

.container-reviews {
    width: 296px;
    height: 183px;
    text-align: center;
}

.container-reviews img {
    width: 92px;
    height: 83px;
}

.container-reviews p {
    margin-top: 55px;
}

/*footer*/

footer {
    color: #ffffff;
    background-color: #10367C;
    height: 630px;
}

.container {
    width: 1065px;
    height: 310px;
    padding: 119px 272px 64px 104px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    line-height: 1.9;
    padding: 0;
}

ul :first-child{
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

li {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.footer-about {
    width: 200px;
    height: 211px;
}

.footer-property {
    width: 140px;
    height: 310px;
}

.footer-support {
    width: 233px;
    height: 122px;
}

footer span {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-left: 103px;
}

footer img {
    display: none;
}

.container-head {
    background-image: url("../images/castelmezzano.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 51px 104px 157px 104px;
}

a:nth-child(1n+3) {
    padding-left: 24px;
}

a:nth-child(1) {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding-right: 24px;
    text-decoration: none;
}

a:nth-child(2) {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding-right: 24px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

.header-night {
    width: 30px;
    height: 30px;
}

.header-account-circle {
    width: 40px;
    height: 40px;
}

nav a:hover {
    text-decoration: underline #F5BD41;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 205px;
    height: 40px;
}

.container-head h1 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 50px;
    margin-top: 156px;
    margin-bottom: 100px;
}

section {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#city {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    box-sizing: border-box;
    width: 467px;
    height: 64px;
}

#count {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 3px solid #F3F3F4;
    border-radius: 8px;
    text-align: center;
    width: 314px;
    height: 61px;
}

#date {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 330px;
    height: 64px;
    border: 3px solid #F5BD41;
    text-align: center;
    border-radius: 8px;
}

.button-search {
    background-color: #3077C6;
    border-radius: 8px;
    width: 200px;
    height: 70px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 0;
    color: #ffffff;
}

label {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-left: 24px;
    margin-right: 197px;
}

.head-store-badges {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.head-store-badges img {
    width: 135px;
    height: 40px;
}

.head-store-badges a {
    padding-right: 16px;
}

@media screen and (max-width: 360px) {
    .what-do-we-offer {
        height: 641px;
    }

    ._center {
        font-size: 28px;
        padding-top: 24px;
    }

    hr {
        display: none;
    }

    .what-do-we-offer_col {
        font-size: 15px;
        padding: 32px 73px 40px 73px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 0;
        height: 0;
    }

    .container-support p {
        margin-top: 19px;
        margin-bottom: 38px;
    }

    .container-support img {
        width: 53px;
        height: 64px;
    }

    .container-communication p {
        margin-top: 22px;
        margin-bottom: 44px;
    }

    .container-communication img {
        width: 58px;
        height: 58px;
    }

    .container-booking p {
        margin-top: 28px;
        margin-bottom: 35px;
    }

    .container-booking img {
        width: 70px;
        height: 47px;
    }

    .container-reviews p {
        margin-top: 25px;
    }

    .container-reviews img {
        width: 64px;
        height: 58px;
    }

    footer {
        height: 203px;
    }

    footer img {
        display: block;
        width: 98px;
        height: 19px;
        padding-top: 40px;
        margin: auto;
    }

    ul :first-child {
        display: block;
    }

    li {
        display: none;
        font-size: 15px;
    }

    .container {
        padding: 40px 0 0 0;
        margin: auto;
        width: 225px;
        height: 18px;
        text-decoration: underline;
    }
    .footer-about {
        width: 40px;
        height: 0;
    }

    .footer-property {
        width: 99px;
        height: 0;
    }

    .footer-support {
        width: 54px;
        height: 0;
    }

    footer span {
        font-size: 12px;
        padding-top: 32px;
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
}