@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-regular.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    color: #3D3B3C;
    text-decoration: none;
}

hr {
    margin: 0;
}

.container-head {
    margin-left: 104px;
    margin-right: 106px;
    height: 608px;
    margin-bottom: 72px;
}

header {
    font-weight: 400;
    font-size: 24px;
    height: 68px;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

li:first-child {
    font-weight: 500;
    text-decoration: line-through;
}

h1 {
    font-size: 56px;
    font-weight: 500;
    margin-top: 72px;
    margin-bottom: 8px;
}

.article-about-title {
    color: #BEBEBE;
    font-size: 56px;
    font-weight: 500;
    margin: 0;
}

.article-about-description {
    font-weight: 400;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 72px;
    line-height: 26px;
}

article {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #3A4576;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    width: 185px;
    height: 56px;
    text-align: center;
    margin-right: 24px;
}

.suggestions {
    background: #FAFAFA;
    height: 579px;
}

.heading {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
}

.suggestions__col {
    margin: 0 24px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin: 54px 105px 73px 105px;
}

.suggestions-more {
    display: flex;
    justify-content: center;
}

.suggestions_rating img {
    padding-top: 51px;
    padding-right: 9px;
}

.suggestions_rating {
    display: flex;
    justify-content: space-between;
}

.suggestions__text {
    font-weight: 400;
    font-size: 14px;
}

.img--html {
    padding-bottom: 19px;
}

.img--css {
    padding-bottom: 19px;
}

.img--sass {
    padding-bottom: 44px;
}

.img--git {
    padding-top: 15px;
    padding-bottom: 54px;
}

.img--javascript {
    padding-bottom: 43px;
}

.img--github {
    padding-bottom: 22px;
}
